<%- include("../partials/head.ejs") %>
    <%- include("../partials/menu.ejs") %>

        <div class="container">
            <%- include("../partials/sidebar.ejs") %>

                <div class="management-content" id="content">
                    <form>
                        <input type="text" placeholder="search" name="search">
                        <input type="submit" value="search">
                    </form>
                    <table class="order-list">
                        <colgroup>
                            <col style="width: 10%;">
                            <col style="width: 20%;">
                            <col style="width: 20%;">
                            <col style="width: 10%;">
                            <col style="width: 35%;">
                        </colgroup>
                        <tr>
                            <th>order no</th>
                            <th>total amount</th>
                            <th>payment method</th>
                            <th>status</th>
                            <th>change status</th>
                        </tr>
                        <% orders.forEach((element,index)=> {%>
                            <tr>
                                <td>
                                    <a href="/admin/order-details/<%= element._id %>">
                                        <%= element.orderNo %>
                                    </a>

                                </td>
                                <td>&#8377;<%= element.totalAmount %>
                                </td>
                                <td>
                                    <%= element.paymentMethode %>
                                </td>
                                <td>
                                    <%= element.status %>
                                </td>
                                <td><select name="status" data-orderid="<%= element._id %>"
                                        onchange="changeStatus(this,JSON.stringify(<%= JSON.stringify(element._id) %>))">
                                        <option value="Pending" <%if("Pending"==element.status){%>selected <%} %>
                                                >pending</option>
                                        <option value="Processing" <%if("Processing"==element.status){%>selected <%} %>
                                                >processing</option>
                                        <option value="Shipped" <%if("Shipped"==element.status){%>selected <%} %>
                                                >shipped</option>
                                        <option value="Delivered" <%if("Delivered"==element.status){%>selected <%} %>
                                                >delivered</option>
                                        <option value="Cancelled" <%if("Cancelled"==element.status){%>selected <%} %>
                                                >cancel</option>
                                    </select></td>
                            </tr>
                            <% }); %>
                    </table>
                    <div class="pagination">
                        <% for (let j=1; j <=totalPages; j++) {%>
                            <a href="?page=<%= j %>&search=<%= search %>" <% if(j==currentPage) {%>
                                class="active"
                                <% } %>
                                    ><%= j %>
                            </a>
                            <%} %>
                    </div>
                </div>
        </div>

        <script>
            function changeStatus ( ele )
            {

                const orderId = ele.dataset.orderid;//JSON.parse( orderId )
                let url = `/admin/changeStatus?orderId=${ orderId }&status=${ ele.value }`;
                console.log( url )
                fetch( url )
                    .then( response => response.json() )
                    .then( data =>
                    {
                        // Assuming your server sends a valid redirectUrl in the response
                        if ( data.redirectUrl )
                        {
                            window.location.href = data.redirectUrl;
                        } else
                        {
                            console.error( 'Invalid redirect URL in server response.' );
                        }
                    } )
                    .catch( error => console.error( 'Error:', error ) );
            }
        </script>
        <%- include("../partials/footer.ejs") %>