<%- include("../partials/head.ejs") %>
    <%- include("../partials/menu.ejs") %>

        <div class="container">
            <%- include("../partials/sidebar.ejs") %>

                <div class="management-content" id="content">

                    <table class="order-list">
                        <colgroup>
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                            <col style="width: 15%;">
                            <col style="width: 80%;">
                            <col style="width: 30%;">
                            <col style="width: 30%;">
                        </colgroup>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Reason for return</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                        <% orders.forEach((element,index)=> {%>
                            <tr>
                                <td>

                                    <%= element.name %>


                                </td>
                                <td>
                                    <%= element.price %>
                                </td>
                                <td>
                                    <%= element.quantity %>
                                </td>
                                <td>
                                    <%= element.reason %>
                                </td>
                                <% if(element.status=="pending" ){%>
                                    <td>
                                        <a href="/admin/return-response?accept=true&id=<%= element._id %>"
                                            class="bg-2">accept</a>
                                    </td>
                                    <td>
                                        <a href="/admin/return-response?accept=false&id=<%= element._id %>"
                                            class="bg-1">reject</a>
                                    </td>
                                    <%}else if(element.status=="accepted" ){%>
                                        <td>
                                            Accepted
                                        </td>

                                        <%} else{%>
                                            <td>
                                                Rejected
                                            </td>

                                            <%}%>

                            </tr>
                            <% }); %>
                    </table>

                </div>
        </div>

        <script>
            function changeStatus ( ele )
            {

                const orderId = ele.dataset.orderid;//JSON.parse( orderId )
                let url = `/admin/changeStatus?orderId=${ orderId }&status=${ ele.value }`;
                console.log( url )
                fetch( url )
                    .then( response => response.json() )
                    .then( data =>
                    {
                        // Assuming your server sends a valid redirectUrl in the response
                        if ( data.redirectUrl )
                        {
                            window.location.href = data.redirectUrl;
                        } else
                        {
                            console.error( 'Invalid redirect URL in server response.' );
                        }
                    } )
                    .catch( error => console.error( 'Error:', error ) );
            }
        </script>
        <%- include("../partials/footer.ejs") %>