<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BoyZ</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/cropperjs/dist/cropper.min.css">

    <script>
        const perfEntries = performance.getEntriesByType( "navigation" );

        if ( perfEntries[ 0 ].type === "back_forward" )
        {
            location.reload();
        }
    </script>
</head>

<body>
    <%- include("../partials/menu.ejs") %>
        <%- include("../partials/toast.ejs") %>
            <div class="container">
                <%- include("../partials/sidebar.ejs") %>

                    <div class="management-content content-style " id="content">
                        <div>
                            <a href="/admin/sales?period=daily" class="btn1">Daily</a>
                            <a href="/admin/sales?period=weekly" class="btn1">Weekly</a>
                            <a href="/admin/sales?period=yearly" class="btn1">Yearly</a>
                        </div>
                        <br>
                        <br>
                        <div>
                            <a href="/admin/download-sales?period=<%= period %>" class="bg-red btn1 "> Download</a>

                        </div>
                        <br>
                        <br>
                        <table class="border-normal width-100 sales-table">
                            <tr>
                                <th colspan="4">
                                    <h2>Sales Report</h2>
                                </th>
                            </tr>


                            <tr>
                                <td>
                                    <h3 class="r-row">Date: <% var expiryDate=new Date(salesData.date); var
                                            formattedExpiry=expiryDate.toLocaleDateString("en-US", { month: "long" ,
                                            day: "numeric" , year: "numeric" }); %>

                                            <%= formattedExpiry %>
                                    </h3>
                                </td>
                                <td>
                                    <h3 class="r-row">Total Amount: &#8377;<%= salesData.totalAmount %>
                                    </h3>
                                </td>
                                <td>
                                    <h3 class="r-row">Total Orders: <%= salesData.totalOrder %>
                                    </h3>
                                </td>
                            </tr>

                            <tr>
                                <td colspan="4">
                                    <hr>
                                </td>
                            </tr>


                            <tr>
                                <th>Order No</th>
                                <th>Total Amount</th>
                                <th>Payment Method</th>
                            </tr>
                            <tr>
                                <td><br>

                                </td>
                            </tr>
                            <% orders.forEach((element,index)=> {%>
                                <tr class="border-normal">

                                    <td class="border-normal text-align">
                                        <%= element.orderNo %>
                                    </td>
                                    <td class="border-normal text-align">
                                        &#8377;<%= element.totalAmount %>
                                    </td>
                                    <td class="border-normal text-align">
                                        <%= element.paymentMethode %>
                                    </td>
                                </tr>
                                <% }); %>
                        </table>



                    </div>


                    <%- include("../partials/footer.ejs") %>