<div class="profile-content">
    <div class="flex">
        <div>
            <h2>Profile</h2>
            <hr>

            <table>
                <tr>
                    <td>
                        <p>name:&nbsp; </p>
                    </td>
                    <td>
                        <h3 id="profileName">
                            <%= user.name %>
                        </h3>
                        <!-- <input id="profileNameInput" type="text" value="<%= user.name %>" placeholder="name" name="name"> -->
                    </td>
                    <!-- <td><button type="button" onclick="changeDetails('name')">edit</button></td> -->
                </tr>
                <tr>
                    <td>
                        <p>email:&nbsp;</p>
                    </td>
                    <td>
                        <h3 id="profileEmail">
                            <%= user.email %>
                        </h3>
                        <!-- <input id="profileEmailInput" type="email" value="<%= user.email %>" placeholder="email" name="email"> -->
                    </td>
                    <!-- <td><button type="button" onclick="changeDetails('age')">edit</button></td> -->

                </tr>
                <tr>
                    <td colspan="2">
                        <a href="/profile/changePassword" class="link-normal">Change Password</a>
                    </td>
                </tr>
            </table>
            <hr>
            <h4>address</h4>
            <div class="flex">
                <% if(user.address.length>0){
                    user.address.forEach((element,index) => {%>
                    <div class="address-box">
                        <p>
                            <%= element.building %>,<%= element.locality %>
                        </p>
                        <p>
                            <%= element.city %>
                        </p>
                        <p>
                            <%= element.state %>
                        </p>
                        <p>
                            <%= element.pin %>
                        </p>
                        <a href="/profile/delete-address/<%=element._id%>" class="material-symbols-outlined">delete</a>
                    </div>
                    <%});}%>
            </div>
            <button onclick="openAddress()" class="btn-2">add address</button>
        </div>
        <div class="border-normal border-radius-5 p-1 w-200px text-align m-20 h-content">
            <h1>Wallet</h1>
            <hr>
            <h2 class="font-green"> &#8377;<%= user.wallet %>
            </h2>
        </div>
    </div>
</div>
<div class="newAddress temp" id="formContainer" onclick="closeAddress(event)">
    <form action="/profile/add-address" enctype="application/x-www-form-urlencoded" method="post">
        <div class="input-group">
            <label for="building">building</label>
            <input type="text" id="building" name="building" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="locality">locality</label></td>
            <input type="text" id="locality" name="locality" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="city">city</label></td>
            <input type="text" id="city" name="city" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="state">state</label></td>
            <input type="text" id="state" name="state" class="form-control" required>
        </div>
        <div class="input-group">
            <label for="pin">pin</label></td>
            <input type="text" id="pin" name="pin" class="form-control" required>
        </div>
        <input type="submit" value="submit" class="btn-2 bggreen" required>
        <button type="button" onclick="closeAddress()" class="btn-2 bgred">CANCEL</button>

    </form>
</div>