<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invoice</title>
    <link rel="stylesheet" href="/style.css">

    <style>
        body {
            width: 1000px;
            height: auto;
        }

        .width {
            width: 900px;
        }

        .height {

            height: auto;
        }

        .grid {
            display: grid;
            place-items: center;
        }

        .border-normal {
            border: 1px solid black;
        }

        .text-align {
            text-align: center;
        }

        .flex {
            display: flex;
        }

        .justify-between {
            justify-content: space-between;
        }

        .address {
            margin-left: 15px;
        }

        .address p {
            margin: 3px;
        }

        .sales-table .r-row {
            margin-left: 40px;
            border-collapse: collapse;
        }

        .sales-table {
            border-collapse: collapse;
            width: 100%;
        }

        .p-2 {
            padding: 20px;
        }
    </style>

</head>

<body>
    <div class="grid">

        <div class="font-family order-container border-normal width p-2">
            <div class="flex justify-between">
                <h1>BoyZ</h1>
                <h2 class="text-align">Invoice</h2>
            </div>

            <div>


                <h4><span class="label-simple">Order No:</span>
                    <%=order.orderNo%>
                </h4>


                <h4><span class="label-simple">Payment Method:</span>
                    <%=order.paymentMethode%>
                </h4>
                <h4><span class="label-simple">Total Price:</span> &#8377;<%=order.totalAmount%>
                </h4>
                <h4><span class="label-simple">shipping Address: </span>
                    <%= order.shippingAddress %>
                </h4>

            </div>

            <hr>

            <div>
                <table class="sales-table">
                    <tr>
                        <th>Product</th>
                        <th>Amount</th>
                        <th>Discount</th>
                        <th>Quantity</th>
                    </tr>
                    <% order.products.forEach(product=> {%>
                        <tr>
                            <td class="text-align">
                                <%= product.name %>
                            </td>
                            <td class="text-align">
                                <%= product.soldPrice %>
                            </td>
                            <td class="text-align">
                                <%= product.discount %>
                            </td>
                            <td class="text-align">
                                <%= product.quantity %>
                            </td>
                        </tr>
                        <%}); %>

                </table>
            </div>



        </div>
    </div>
</body>

</html>