<%- include("../partials/head.ejs") %>
    <%- include("../partials/menu.ejs") %>

        <div class="container">

            <%- include("../partials/filter.ejs",{filterData}) %>
                <div>

                    <div class="ml-1"><label for="sort">sort by:</label>
                        <select name="sort" id="sort">
                            <option value="ra">Rating</option>
                            <option value="na">New Arrivals</option>
                            <option value="lh">Low to High</option>
                            <option value="hl">High to Low</option>
                            <option value="az">A to Z</option>
                            <option value="za">Z to A</option>
                        </select>
                    </div>
                    <div class="top-container">


                        <% for (let i=0; i < products.length; i++) {%>
                            <div class="m-20">
                                <a href="/product/<%= products[i]._id %>">
                                    <div class="image-container">
                                        <img src="/productImages/<%= products[i].images[0] %>" alt="product-img">
                                    </div>
                                </a>

                                <h3 class="product-name text-align">
                                    <%= products[i].name %>
                                </h3>
                                <h3 class="price-listing text-align">
                                    <span class="curr-price">&#8377;<%=
                                            products[i].price-((products[i].price*products[i].discount)/100) %>
                                    </span>
                                    <span class="text-strike">&#8377;<%= products[i].price %></span>
                                    <span class="offer-style ">
                                        <%= products[i].discount %>%
                                    </span>
                                </h3>
                                <div class="flex justify-around">
                                    <p class="rating-products material-symbols-outlined">
                                        <span class="num-rate">
                                            <%= products[i].rating %>
                                        </span>

                                        star
                                    </p>
                                </div>

                                <% if(products[i].stock<=0){%>
                                    <p class="red-text text-align">Product is out of stock.</p>
                                    <%}else{%>
                                        <div class="price-listing">
                                            <h4 class="m-0 text-align">
                                                <%= products[i].stock %> left
                                            </h4>
                                        </div>
                                        <%}%>




                            </div>
                            <%} %>
                                <% if(products.length==0){ %>
                                    <h2>No results</h2>
                                    <% } %>
                    </div>
                    <div class="page-container">
                        <% for (let j=1; j <=totalPages; j++) {%>
                            <% if (j==currentPage) {%>
                                <button type="button" class="pagination-item page-active">
                                    <%= j %>
                                </button>
                                <%} else{%>
                                    <button type="button" class="pagination-item" onclick="sendUrl(event,`<%= j %>`)">
                                        <%= j %>
                                    </button>
                                    <% }%>

                                        <%} %>
                    </div>
                </div>


        </div>


        <script>
            const min = document.getElementById( "min" );
            const max = document.getElementById( "max" );
            const minValue = document.getElementById( "minValue" );
            const maxValue = document.getElementById( "maxValue" );
            let sort = document.getElementById( "sort" );
            sort.value = '<%=sort%>'
            minValue.innerHTML = min.value;
            maxValue.innerHTML = max.value;
            min.oninput = function ()
            {
                minValue.innerHTML = this.value;
            }

            max.oninput = function ()
            {
                maxValue.innerHTML = this.value;
            }

            sort.addEventListener( "change", sendUrl )

            function sendUrl ( e, page )
            {
                e.preventDefault();
                console.log( page )
                let baseUrl = "http://localhost:3000/products";
                let radioButtons = document.querySelectorAll( 'input[name="cat"]' );
                let sizeButtons = document.querySelectorAll( 'input[name="size"]' );
                // Iterate through radio buttons to find the selected one
                let selectedSizeButton;
                let selectedRadioButton;
                for ( let i = 0; i < sizeButtons.length; i++ )
                {
                    if ( sizeButtons[ i ].checked )
                    {
                        selectedSizeButton = sizeButtons[ i ];
                        break;
                    }
                }
                for ( let i = 0; i < radioButtons.length; i++ )
                {
                    if ( radioButtons[ i ].checked )
                    {
                        selectedRadioButton = radioButtons[ i ];
                        break;
                    }
                }
                let min = document.getElementById( "min" );
                let max = document.getElementById( "max" );
                let category;
                let size;

                let pageNum;
                if ( page == 0 )
                {
                    pageNum = 1;
                } else if ( typeof page == 'undefined' )
                {
                    pageNum = 1;
                } else
                {
                    pageNum = page;
                }

                let params = {
                    max: max.value,
                    min: min.value,
                    page: pageNum,
                    sort: sort.value

                };
                if ( selectedRadioButton )
                {
                    params.cat = selectedRadioButton.value;
                }
                if ( selectedSizeButton )
                {
                    params.size = selectedSizeButton.value;
                }

                let queryString = Object.keys( params )
                    .map( key => encodeURIComponent( key ) + "=" + encodeURIComponent( params[ key ] ) )
                    .join( "&" );

                let finalUrl = baseUrl + "?" + queryString;
                console.log( finalUrl )
                // Redirect to the final URL, triggering a page refresh
                window.location.href = finalUrl;
            }


        </script>
        <%- include("../partials/footer.ejs") %>