<%- include("../partials/head.ejs") %>
    <%- include("../partials/menu.ejs") %>


        <div class="flex ml-3 flex-wrap">
            <%if (!user) {%>
                <p>please login to add products to whishlist</p>
                <%}else{%>
                    <% if(!products.length ){%>
                        <p>No Products in wishlist</p>
                        <% } else{for (let i=0; i < products.length; i++) {%>
                            <div class="product-card">
                                <a href="/product/<%= products[i]._id %>">
                                    <div class="image-container">
                                        <img src="/productImages/<%= products[i].images[0] %>" alt="product-img"
                                            width="100%" height="100%">
                                    </div>
                                </a>

                                <h3 class="product-name">
                                    <%= products[i].name %>
                                </h3>
                                <h3 class="product-name">&#8377;<%= products[i].price %> <span class="offer-style">
                                            <%= products[i].discount %>%
                                        </span></h3>
                                <input type="hidden" value="1" id="numOfProduct">
                                <div class="flex mt-2">
                                    <button type="button" onclick="addToCartW(`<%= JSON.stringify(products[i]._id) %>`)"
                                        class="addToCart">Add To Cart</button>

                                    <a href="/wishlist/remove/<%= products[i]._id %>"
                                        class="material-symbols-outlined bg-1">delete</a>
                                </div>

                            </div>
                            <%}} %>
                                <%}%>
        </div>

        <script>
            function addToCartW ( proId )
            {
                let productId = JSON.parse( proId );
                let quantity = document.getElementById( "numOfProduct" ).value;
                fetch( `/cart/add-to-cart?productId=${ productId }&quantity=${ quantity }` ).then(
                    async ( result ) =>
                    {
                        result = await result.json();

                        document.getElementById( "cartMessage" ).style.display = "block";
                        document.getElementById( "cartMessage" ).innerHTML = result.message;
                    }
                );
                fetch( `/wishlist/remove/${ productId }` )
                setTimeout( () =>
                {
                    hideCartMessage();
                }, 3000 );
                location.reload();
            }

            function hideCartMessage ()
            {
                document.getElementById( "cartMessage" ).style.display = "none";
            }
        </script>
        <!-- <script src="/cart.js"></script> -->
        <%- include("../partials/footer.ejs") %>